slurm-*.out
.DS_Store

results/
models/*.txt
models/*.pkl
models/old/
joblogs/
outputs/
outputs
*.lock

scripts/backup/
scripts/old/
scripts/clear_dataset_cache/
scripts/*.txt
scripts/**/*.txt
data/old/

__pycache__/
**/__pycache__/

*.pyc

*.ipynb
.ipynb_checkpoints/
*.png
*.pdf
*.csv
*.csv.gz
